@{
    ViewData["Title"] = "Home Page";
}

@*
- Do płynnego przewijania strony biblioteka moveTo.js albo jquery(to lepsze bo mniej bibliotek do zainstalowania)
- https://getbootstrap.com/docs/5.1/components/scrollspy/ do pokazywania na navbar które to miejsce strony
*@

<section id="DJSite">
    <p>
        Dj na Twoją imprezę!
    </p>
</section>
<section id="about-me">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore maxime magni quod, facere ipsa officia sunt non quae vitae perspiciatis? Modi, sequi deserunt eos deleniti eveniet labore nesciunt minus suscipit?
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero vel nihil explicabo dolor cumque voluptatem incidunt asperiores vitae modi ipsa totam eveniet, quas praesentium accusantium amet id corporis illo reiciendis!
</section>
