@inject IStringLocalizer<Language> Localizer

@{
    ViewData["Title"] = "Home Page";
}

@*
- Do płynnego przewijania strony biblioteka moveTo.js albo jquery(to lepsze bo mniej bibliotek do zainstalowania)
- https://getbootstrap.com/docs/5.1/components/scrollspy/ do pokazywania na navbar które to miejsce strony
*@

<section id="DJSite">
    <p>@Localizer["txt_top"]</p>
</section>
<div id="filler">
    <p>
        @Localizer["professionalism"]
        <img src="~/assets/headphones-g8a.png" alt=""/>
    </p>
</div>
<section id="about-me">
    <p>@Localizer["hi"]</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Localizer["description_of_me"]</p>
</section>
