nav {
    position: absolute;
    z-index: 1020!important;
}

.bg-blue {
    background-color: #3a6cdf;
}

.col-white {
    color: white;
    -webkit-transition: color 0.2s linear;
    transition: color 0.2s linear;
}

.col-white:hover,
.col-white:focus {
    color: gold;
}

#djsite > img {
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    width: 30px;
    height: 30px;
}

#djsite:hover > img {
    -webkit-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    transform: rotate(-60deg);
}

.span-navbar {
    position: absolute;
    background: transparent;
    height: 3px;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    border-radius: 20px;
    background-clip: content-box;
}

#span-djsite {
    width: 70px;
    top: 49px;
    left: 63px;
}

#navbar-list > li {
    position: relative;
}

#navbar-list > li > span {
    width: 100%;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    top: 93%;
}

#djsite:hover #span-djsite {
    top: 44px;
    background: gold;
}

#navbar-list > li:hover > span {
    top: 83%;
    background: gold;
    background-clip: content-box;
}

#navbar-container {
    -webkit-display: flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    margin-left: 30px;
}

#navbar-container-mobile {
    display: none;
    position: fixed;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    width: 100%;
    z-index: 1019;
    left: 0;
    top: -144px;
}

#navbar-list {
    -webkit-display: flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

#navbar-list-mobile {
    -webkit-display: flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    background-color: #4f79df;
    width: 100%;
}

#navbar-list-mobile > li > a {
    padding-right: 0;
    padding-left: 0;
    margin-left: 78px;
}

#navbar-list > li > a {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

#btn-toggle-nav {
    display: none;
    overflow: hidden;
}

.btn-nav-icon {
    background-color: transparent;
    border-color: transparent;
    width: 40px;
    height: 40px;
    padding: 2px;
}

#btn-facebook {
    background: url(../assets/facebook-round-line-white.svg) no-repeat center content-box;
}

#btn-instagram {
    background: url(../assets/instagram-round-line-white.svg) no-repeat center content-box;
}

#btn-email {
    background: url(../assets/email-round-line-white.svg) no-repeat center content-box;
}

#btn-facebook:hover {
    background: url(../assets/facebook-round-line-gold.svg) no-repeat center content-box, radial-gradient(transparent 60%, #ffd700 65%, transparent 74%) no-repeat;
}

#btn-instagram:hover {
    background: url(../assets/instagram-round-line-gold.svg) no-repeat center content-box, radial-gradient(transparent 60%, #ffd700 65%, transparent 74%) no-repeat;
}

#btn-email:hover {
    background: url(../assets/email-round-line-gold.svg) no-repeat center content-box, radial-gradient(transparent 60%, #ffd700 65%, transparent 74%) no-repeat;
}

@media (max-width: 800px) {
    #navbar-container {
        display: none;
    }

    #navbar-container-mobile {
        -webkit-display: flex;
        display: -ms-flexbox;
        display: flex;
    }

    .btn-nav-icon {
        display: none;
    }

    #btn-toggle-nav {
        display: block;
        width: 40px;
        height: 40px;
    }

    #btn-toggle-nav span {
        background: white;
        display: block;
        width: 30px;
        height: 4px;
        border-radius: 5px;
        margin-bottom: 5px;
        -webkit-transition: all 0.5s linear;
        transition: all 0.5s linear;
    }

    #btn-toggle-nav span:nth-child(2) {
        -webkit-transition: all 0.5s linear;
        transition: all 0.5s linear;
    }

    #btn-toggle-nav.open span:nth-child(1), #btn-toggle-nav.open span:nth-child(3) {
        -webkit-transform: translate(0px, 0px) rotate(-45deg) scalex(1.1);
        -ms-transform: translate(0px, 0px) rotate(-45deg) scalex(1.1);
        transform: translate(0px, 0px) rotate(-45deg) scalex(1.1);
        margin: 0;
    }

    #btn-toggle-nav.open span:nth-child(2) {
        -webkit-transform: translate(20px, -2px) scalex(0);
        -ms-transform: translate(20px, -2px) scalex(0);
        transform: translate(20px, -2px) scalex(0);
        background-color: transparent;
        height: 0px;
        margin: 0;
    }

    #btn-toggle-nav.open span:nth-child(3) {
        -webkit-transform: translate(0px, -4px) rotate(45deg) scalex(1.1);
        -ms-transform: translate(0px, -4px) rotate(45deg) scalex(1.1);
        transform: translate(0px, -4px) rotate(45deg) scalex(1.1);
    }
}

@media (min-width: 1300px) {
    nav {
        padding-left: 100px;
        padding-right: 100px;
    }

    #span-djsite {
        left: 164px;
    }
}
