* {
    box-sizing: border-box;
    margin: 0;
}

html::-webkit-scrollbar {
    width: 7px;
}

html::-webkit-scrollbar-track {
    background-color: #3a6cdf;
}

html::-webkit-scrollbar-thumb {
    background-color: #7e9fef;
}

html::-webkit-scrollbar-thumb:hover {
    background-color: #b4c8fb;
}

main {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

footer {
    background: #3a6cdf;
    color: white;
}

footer > div {
    background: #3a6cdf;
    color: white;
}

footer > div > div > a {
    color: white;
}

footer > div > div > a:hover {
    color: gold;
}

/*Section DJSite*/
#DJSite {
    background: url(../assets/dj-main.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
}

#DJSite > p {
    position: absolute;
    top: 50vh;
    left: 5vw;
    width: 565px;
    color: white;
    font-size: 80px;
    font-weight: 900;
}

/*Section fillers*/
#filler1 {
    background: linear-gradient(135deg, #151517 45%, #3a6cdf 80%),#3a6cdf;
}

#filler2 {
    background: linear-gradient(135deg, #151517 15%, #3a6cdf 80%),#3a6cdf;
}

.fill {
    background: linear-gradient(90deg, #15151780 10%, #3a6cdf 30%, #3a6cdf 70%, #15151780 90%), #3a6cdf;
    background-size: cover;
    height: 80px;
}

.fill > p {
    color: white;
    font-weight: 900;
    font-size: 33px;
    text-align: center;
    text-decoration: underline;
    text-underline-position: under;
    height: 50px;
    padding-top: 9px;
}

.fill > p > img {
    position: absolute;
    height: 70px;
    top: 100.8vh;
    margin-left: 40px;
}

/*Section about-me*/
#about-me {
    height: 70vh;
    background: linear-gradient(135deg, #141414f2 45%, #D7EDFF00 70%), url(../assets/console.jpg) no-repeat right top;
    background-size: cover;
    position: relative;
}

#about-me > p {
    color: white;
    text-align: left;
    margin-left: 5vw;
}

#about-me > p:nth-child(1) {
    width: 700px;
    font-size: 50px;
    font-weight: 900;
    padding-top: 10rem;
}

#about-me > p:nth-child(2) {
    width: 700px;
    font-size: 20px;
}

/*Section offer*/
#offer > div {
    position: relative;
}

#offer > div > div {
    width: 50px;
    height: 50px;
    position: absolute;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 435px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(135deg, white 40%, transparent 40%);
}

#offer > div > img {
    height: 450px;
    width: 100%;
    object-fit: cover;
}

.offer-col > p {
    padding: 0 35px 0 35px;
}

.offer-col > p:nth-child(3) {
    padding-top: 10px;
    text-align: center;
    font-size: 35px;
    font-weight: 900;
}

.offer-col > p:nth-child(4) {
    text-align: center;
    font-size: 20px;
    padding-bottom: 50px;
}

/*Section gallery*/
#gallery > div > div {
    overflow: hidden;
}

#gallery > div > div > img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    -webkit-transition: all .2s;
    transition: all .2s;
}

#gallery > div > div > img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}

#gallery-mode {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1021;
    width: 100%;
    height: 100%;
    background: #000000e6;
}

#gallery-mode > img {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 80vh;
}

#gallery-mode > button {
    position: absolute;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#gallery-mode > button:nth-child(1) {
    right: 10vw;
    background: url(../assets/close-line-white.svg) no-repeat center content-box, transparent;
}

#gallery-mode > button:nth-child(3) {
    left: 40vw;
    background: url(../assets/thin-chevron-arrow-left-white.svg) no-repeat center content-box, transparent;
}

#gallery-mode > button:nth-child(4) {
    right: 40vw;
    background: url(../assets/thin-chevron-arrow-right-white.svg) no-repeat center content-box, transparent;
}

/*Section calendar*/
.tui-full-calendar-month-dayname-item {
    overflow-y: hidden;
}

.tui-full-calendar-month-guide-block {
    overflow-y: hidden;
    display: none!important;
}

#lnb-calendars {
    display: inline-block;
    margin: 13px 0 10px 0;
    padding: 5px;
}

.lnb-calendars-item {
    float: left;
    margin-right: 20px;
}

#container-range {
    display: inline-block;
    margin: 13px 0 10px 0;
    padding: 5px;
    font-size: 17px;
    font-weight: bold;
    width: 90px;
}

#container-btn-calendar {
    margin: 10px 0 10px 0;
    float: right;
    padding: 5px;
    width: 165px;
}

.btn-calendar {
    height: 30px;
    width: 30px;
    padding: 3px;
    border-radius: 20px;
    margin: 0 1px 0 1px;
    font-weight: bold;
}

#btn-move-today {
    padding: 0;
    font-size: 17px;
    text-align: center;
    width: 80px;
}

#btn-move-prev {
    background: url(../assets/thin-chevron-arrow-left-blue.svg) no-repeat center content-box, transparent;
    padding-right: 5px;
}

#btn-move-next {
    background: url(../assets/thin-chevron-arrow-right-blue.svg) no-repeat center content-box, transparent;
    padding-left: 5px;
}

#btn-move-prev:hover {
    background: url(../assets/thin-chevron-arrow-left-white.svg) no-repeat center content-box, #0d6efd;
}

#btn-move-next:hover {
    background: url(../assets/thin-chevron-arrow-right-white.svg) no-repeat center content-box, #0d6efd;
}

/*Section contact*/
#contact {
    width: 100%;
    padding: 100px 0 50px 0;
    margin: 0;
}

#contact > div:nth-child(1){
    margin-left: 10vw;
}

#contact > div:nth-child(4) {
    margin-right: 10vw;
}

.contact-col {
    margin: auto;
    width: 200px;
}

.contact-col > img {
    height: 150px;
    width: 100%;
    object-fit: fill;
}

.contact-col > p {
    padding-top: 20px;
    text-align: center;
}

/*Section mobile*/
@media (min-width: 1500px) {
    #contact > div:nth-child(1) {
        margin-left: 25vw;
    }

    #contact > div:nth-child(4) {
        margin-right: 25vw;
    }
}

@media (min-width: 1300px) {
    #DJSite > p {
        padding-left: 100px;
        left: 1vw;
    }

    #contact > div:nth-child(1) {
        margin-left: 19vw;
    }

    #contact > div:nth-child(4) {
        margin-right: 19vw;
    }
}

@media (max-width: 1100px) {
    #about-me > p:nth-child(1) {
        width: 500px;
        font-size: 40px;
        padding-top: 5rem;
    }

    #about-me > p:nth-child(2) {
        width: 500px;
        font-size: 15px;
    }

    #contact > div:nth-child(1) {
        margin-left: 5vw;
    }

    #contact > div:nth-child(4) {
        margin-right: 5vw;
    }
}

@media (max-width: 991px) {
    #DJSite > p {
        width: 365px;
        font-size: 60px;
    }

    .fill {
        height: 60px;
    }

    .fill > p {
        font-size: 28px;
        height: 50px;
        padding-top: 5px;
    }

    .fill > p > img {
        height: 49px;
        margin-left: 40px;
    }

    #about-me > p:nth-child(1) {
        width: 400px;
    }

    #about-me > p:nth-child(2) {
        width: 400px;
    }

    #contact {
        padding-top: 50px;
    }

    .contact-col {
        width: 150px;
        padding: 10px;
    }

    .contact-col > p {
        padding-top: 10px;
    }

}

@media (max-width: 667px) {
    footer {
        font-size: 12px;
    }

    #DJSite > p {
        width: 265px;
        font-size: 45px;
    }

    .fill {
        height: 50px;
    }

    .fill > p {
        font-size: 24px;
        height: 40px;
    }

    .fill > p > img {
        height: 39px;
        margin-left: 20px;
    }

    #about-me > p:nth-child(1) {
        width: 300px;
        font-size: 40px;
        padding-top: 4rem;
    }

    #about-me > p:nth-child(2) {
        width: 300px;
        font-size: 14px;
    }

    .offer-col > p:nth-child(3) {
        font-size: 30px;
    }

    .offer-col > p:nth-child(4) {
        font-size: 18px;
        padding-bottom: 40px;
    }

    .contact-col {
        width: 45%;
    }

    #contact > div:nth-child(1) {
        margin-left: 5%;
    }

    #contact > div:nth-child(2) {
        margin-right: 5%;
    }

    #contact > div:nth-child(3) {
        margin-left: 5%;
    }

    #contact > div:nth-child(4) {
        margin-right: 5%;
    }
}

@media (max-width: 470px) {

    .fill {
        height: 45px;
    }

    .fill > p {
        font-size: 20px;
        height: 45px;
    }

    .fill > p > img {
        height: 30px;
    }

    #gallery > div > div > img {
        height: 250px;
    }
}

/*Section animations*/
.animation-fade-in {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*Section cookies*/
#cookies {
    display: none;
    position: fixed;
    width: 100%;
    background: #ddddddf2;
    bottom: 0;
    text-align: center;
    padding: 10px;
}